.card {
  border: 3px solid powderblue;
  border-radius: 7px;
  height: 300px;
  width: 250px;
  margin: 5px;
  position: relative;
}
.card img {
  width: 240px;
  height: 200px;
  margin: 5px;
}
.card p {
  margin-top: 3px;
  margin-left: 7px;
}
.add-to-cart {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0px;
  background-color: darkseagreen;
  border-radius: 0 0 5px 5px;
  font-size: large;
  font-weight: 500;
}
.add-to-cart:hover {
  background-color: rgba(51, 139, 51, 0.829);
}
